
html {
  font-family: sans-serif;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #dbd6cf;
  border: 3px solid #595652;
  box-sizing: border-box;
}

header {
  background-color: #79756f;
  padding: .6em 0;
}

h1 {
  font-family: Bevan, serif;
  text-align: center;
  color: #fff;
  margin: .3em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav a {
  display: inline-block;
  padding: .5em .75em;
  background-color: #713837;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
}

nav a:hover {
  background-color: #f33;
}
